// .header{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     &__nav{  
//         & ul{
//             display: flex;
//             & li{
//                 margin: 0 25px;

//                 &:hover{
//                     background-color: #212529;
//                 }
//                 &:hover a{
//                     color: #f5f5f5;
//                 }
//             }
//         }
//     }

// }

.header{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background: #0000;
    display : flex;
    justify-content: flex-end;
    align-items: center;
    
    &__nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3.5rem;
        
        & ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 60px;


            & li, a{
                margin: 0 .2rem;
                font-size: 1.2rem;
                font-weight: 600;
                text-transform: uppercase;
                color : white;

                &:hover{
                    color: #000;
                }
            
            }
        }
    }

}

.menu__wrapper{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 11px;
    right: 20px;
    cursor: pointer;
    
    &__item {
        height: 3px;
        background-color: #000;
        margin: 5px 0;
        border-radius: 25px;   
    }
}
