.info{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        text-align: center;

        & p {
            margin: 0 .5rem;

        }
    }
}